In [1]:
#       GOES-12 METEO-7
# VIS   X
# IR    X       X
# VAP   X

#       GOES-8  GOES-10
# VIS   X
# IR    X       X
# VAP

In [22]:
import pandas as pd
from datetime import datetime

In [3]:
df = pd.read_csv('./scraper/scraper/spiders/tcdat.csv')

In [4]:
print(df.head(10))

                                           image_url  season basin storm_name  \
0  https://www.nrlmry.navy.mil/tcdat/tc98/ATL/09....    1998   ATL    09.IVAN
1  https://www.nrlmry.navy.mil/tcdat/tc98/ATL/09....    1998   ATL    09.IVAN
2  https://www.nrlmry.navy.mil/tcdat/tc98/ATL/09....    1998   ATL    09.IVAN
3  https://www.nrlmry.navy.mil/tcdat/tc98/ATL/09....    1998   ATL    09.IVAN
4  https://www.nrlmry.navy.mil/tcdat/tc98/ATL/09....    1998   ATL    09.IVAN
5  https://www.nrlmry.navy.mil/tcdat/tc98/ATL/09....    1998   ATL    09.IVAN
6  https://www.nrlmry.navy.mil/tcdat/tc98/ATL/09....    1998   ATL    09.IVAN
7  https://www.nrlmry.navy.mil/tcdat/tc98/ATL/09....    1998   ATL    09.IVAN
8  https://www.nrlmry.navy.mil/tcdat/tc98/ATL/09....    1998   ATL    09.IVAN
9  https://www.nrlmry.navy.mil/tcdat/tc98/ATL/09....    1998   ATL    09.IVAN

  type sensor resolution satellite extension
0  vis    geo        1km    LATEST       jpg
1  vis    geo        1km        g8       jpg
2  vis    geo        1km        g8       jpg
3  vis    geo        1km        g8       jpg
4  vis    geo        1km        g8       jpg
5  vis    geo        1km        g8       jpg
6  vis    geo        1km        g8       jpg
7  vis    geo        1km        g8       jpg
8  vis    geo        1km        g8       jpg
9  vis    geo        1km        g8       jpg

In [5]:
df.drop_duplicates(subset = ["satellite"])

,image_url,season,basin,storm_name,type,sensor,resolution,satellite,extension
0,https://www.nrlmry.navy.mil/tcdat/tc98/ATL/09....,1998,ATL,09.IVAN,vis,geo,1km,LATEST,jpg
1,https://www.nrlmry.navy.mil/tcdat/tc98/ATL/09....,1998,ATL,09.IVAN,vis,geo,1km,g8,jpg
102,https://www.nrlmry.navy.mil/tcdat/tc98/ATL/13....,1998,ATL,13.MITCH,vis,geo,1km,g10,jpg
574,https://www.nrlmry.navy.mil/tcdat/tc03/ATL/17L...,2003,ATL,17L.LARRY,vis,geo,2km,goes-12,jpg
578,https://www.nrlmry.navy.mil/tcdat/tc03/ATL/17L...,2003,ATL,17L.LARRY,vis,geo,2km,goes-10,jpg
...,...,...,...,...,...,...,...,...,...
1355328,https://www.nrlmry.navy.mil/tcdat/tc09/ATL/10L...,2009,ATL,10L.HENRI,ir,geo,1km_BD,noaa-19,jpg
1358072,https://www.nrlmry.navy.mil/tcdat/tc09/ATL/10L...,2009,ATL,10L.HENRI,ir,geo,1km_BD,goes-11,jpg
1378809,https://www.nrlmry.navy.mil/tcdat/tc09/ATL/11L...,2009,ATL,11L.IDA,ir,geo,1km_BD,f-18,jpg
1580076,https://www.nrlmry.navy.mil/tcdat/tc09/ATL/03L...,2009,ATL,03L.BILL,ir,geo,1km_BD,msg-1,jpg
1597003,https://www.nrlmry.navy.mil/tcdat/tc10/ATL/02L...,2010,ATL,02L.TWO,ir,geo,1km_BD,goes-13,jpg

In [54]:
ir = df.loc[df['type'] == 'ir'].loc[df['resolution'] == '1km'].loc[df['sensor'] == 'geo']

In [55]:
arr = ir.at[0,'image_url'].split('/')[-1].split('.')
arr

KeyError: 0

In [50]:
datetime(int(arr[0][:4]), int(arr[0][4:6]), int(arr[0][6:]), int(arr[1][:2]), int(arr[1][2:]))

ValueError: invalid literal for int() with base 10: ''

In [ ]:
ir["date_time"] = ir['image_url'].split('/')[-1].split('.')

In [26]:
pointDF = pd.read_json('./track_points.json')

In [33]:
pointDF.head(10)

,id,year,month,day,hours,minutes,date_time,record_type,status,latitude,...,50_ne_poly,50_se_poly,50_sw_poly,50_nw_poly,64_ne_poly,64_se_poly,64_sw_poly,64_nw_poly,max_wind_radius,max_wind_poly
0,AL011851UNNAMED,1851,6,25,0,0,1851-06-25 00:00:00,,HU,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL011851UNNAMED,1851,6,25,6,0,1851-06-25 06:00:00,,HU,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AL011851UNNAMED,1851,6,25,12,0,1851-06-25 12:00:00,,HU,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AL011851UNNAMED,1851,6,25,18,0,1851-06-25 18:00:00,,HU,28.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AL011851UNNAMED,1851,6,25,21,0,1851-06-25 21:00:00,L,HU,28.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,AL011851UNNAMED,1851,6,26,0,0,1851-06-26 00:00:00,,HU,28.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,AL011851UNNAMED,1851,6,26,6,0,1851-06-26 06:00:00,,TS,28.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,AL011851UNNAMED,1851,6,26,12,0,1851-06-26 12:00:00,,TS,28.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,AL011851UNNAMED,1851,6,26,18,0,1851-06-26 18:00:00,,TS,28.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,AL011851UNNAMED,1851,6,27,0,0,1851-06-27 00:00:00,,TS,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
point1998DF = pointDF.loc[pointDF['year'] > 1998]

In [35]:
point1998DF.head(10)

,id,year,month,day,hours,minutes,date_time,record_type,status,latitude,...,50_ne_poly,50_se_poly,50_sw_poly,50_nw_poly,64_ne_poly,64_se_poly,64_sw_poly,64_nw_poly,max_wind_radius,max_wind_poly
41310,AL011999ARLENE,1999,6,11,18,0,1999-06-11 18:00:00,,TD,27.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41311,AL011999ARLENE,1999,6,12,0,0,1999-06-12 00:00:00,,TD,27.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41312,AL011999ARLENE,1999,6,12,6,0,1999-06-12 06:00:00,,TD,28.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41313,AL011999ARLENE,1999,6,12,12,0,1999-06-12 12:00:00,,TS,28.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41314,AL011999ARLENE,1999,6,12,18,0,1999-06-12 18:00:00,,TS,28.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41315,AL011999ARLENE,1999,6,13,0,0,1999-06-13 00:00:00,,TS,28.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41316,AL011999ARLENE,1999,6,13,6,0,1999-06-13 06:00:00,,TS,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41317,AL011999ARLENE,1999,6,13,12,0,1999-06-13 12:00:00,,TS,29.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41318,AL011999ARLENE,1999,6,13,18,0,1999-06-13 18:00:00,,TS,29.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41319,AL011999ARLENE,1999,6,14,0,0,1999-06-14 00:00:00,,TS,29.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
point = point1998DF.iloc[0]
point

id                      AL011999ARLENE
year                              1999
month                                6
day                                 11
hours                               18
minutes                              0
date_time          1999-06-11 18:00:00
record_type
status                              TD
latitude                          27.1
longitude                        -58.1
wind                                30
ACE                               0.09
pressure                        1010.0
34_ne                              NaN
34_se                              NaN
34_sw                              NaN
34_nw                              NaN
50_ne                              NaN
50_se                              NaN
50_sw                              NaN
50_nw                              NaN
64_ne                              NaN
64_se                              NaN
64_sw                              NaN
64_nw                              NaN
34_se_poly                         NaN
34_sw_poly                         NaN
34_ne_poly                         NaN
34_nw_poly                         NaN
50_ne_poly                         NaN
50_se_poly                         NaN
50_sw_poly                         NaN
50_nw_poly                         NaN
64_ne_poly                         NaN
64_se_poly                         NaN
64_sw_poly                         NaN
64_nw_poly                         NaN
max_wind_radius                    NaN
max_wind_poly                      NaN
Name: 41310, dtype: object

In [45]:
specificPoint = ir.loc[ir['season'] == int(point['id'][4:8])].loc[ir['storm_name'].split('/')[-1] == point['id'][8:]]
specificPoint.head(10)

AttributeError: 'Series' object has no attribute 'split'

In [48]:
ir.to_csv('/Users/rslmart/IdeaProjects/Website/my-app/src/Hurricane/data/ir_tcdat.csv', index=False)