In [1]:
#       GOES-12 METEO-7
# VIS   X
# IR    X       X
# VAP   X

#       GOES-8  GOES-10
# VIS   X
# IR    X       X
# VAP

In [5]:
import os

current_directory = os.getcwd()
print("Current directory:", current_directory)

Current directory: C:\Users\Makoa\IdeaProjects\Website\my-app\src\Hurricane\data

In [2]:
import pandas as pd
from datetime import datetime

In [6]:
df = pd.read_csv('./scraper/scraper/tcdat.csv')

c:\users\makoa\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (1,7,8,12,13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
print(df.head(10))

                                           image_url season basin storm_name  \
0  https://www.nrlmry.navy.mil/tcdat/tc20/ATL/31L...   2020   ATL   31L.IOTA
1  https://www.nrlmry.navy.mil/tcdat/tc20/ATL/31L...   2020   ATL   31L.IOTA
2  https://www.nrlmry.navy.mil/tcdat/tc20/ATL/31L...   2020   ATL   31L.IOTA
3  https://www.nrlmry.navy.mil/tcdat/tc20/ATL/31L...   2020   ATL   31L.IOTA
4  https://www.nrlmry.navy.mil/tcdat/tc20/ATL/31L...   2020   ATL   31L.IOTA
5  https://www.nrlmry.navy.mil/tcdat/tc20/ATL/31L...   2020   ATL   31L.IOTA
6  https://www.nrlmry.navy.mil/tcdat/tc20/ATL/31L...   2020   ATL   31L.IOTA
7  https://www.nrlmry.navy.mil/tcdat/tc20/ATL/31L...   2020   ATL   31L.IOTA
8  https://www.nrlmry.navy.mil/tcdat/tc20/ATL/31L...   2020   ATL   31L.IOTA
9  https://www.nrlmry.navy.mil/tcdat/tc20/ATL/31L...   2020   ATL   31L.IOTA

  type sensor resolution  year month   day  hour  minute                 date  \
0  vis    ols        2km  2020    11  14.0  20.0    54.0  2020-11-14 20:54:00
1  vis    ols        2km  2020    11  14.0  21.0    23.0  2020-11-14 21:23:00
2  vis    ols        2km  2020    11  14.0  21.0    26.0  2020-11-14 21:26:00
3  vis    ols        2km  2020    11  14.0  21.0    46.0  2020-11-14 21:46:00
4  vis    ols        2km  2020    11  15.0   8.0    29.0  2020-11-15 08:29:00
5  vis    ols        2km  2020    11  15.0  10.0     7.0  2020-11-15 10:07:00
6  vis    ols        2km  2020    11  15.0  10.0    16.0  2020-11-15 10:16:00
7  vis    ols        2km  2020    11  15.0  12.0    10.0  2020-11-15 12:10:00
8  vis    ols        2km  2020    11  15.0  12.0    18.0  2020-11-15 12:18:00
9  vis    ols        2km  2020    11  15.0  21.0     1.0  2020-11-15 21:01:00

  satellite extension
0       f15       jpg
1       f18       jpg
2       f16       jpg
3       f18       jpg
4       f16       jpg
5       f18       jpg
6       f18       jpg
7       f17       jpg
8       f17       jpg
9       f15       jpg

In [8]:
df.drop_duplicates(subset = ["satellite"])

,image_url,season,basin,storm_name,type,sensor,resolution,year,month,day,hour,minute,date,satellite,extension
0,https://www.nrlmry.navy.mil/tcdat/tc20/ATL/31L...,2020,ATL,31L.IOTA,vis,ols,2km,2020,11,14.0,20.0,54.0,2020-11-14 20:54:00,f15,jpg
1,https://www.nrlmry.navy.mil/tcdat/tc20/ATL/31L...,2020,ATL,31L.IOTA,vis,ols,2km,2020,11,14.0,21.0,23.0,2020-11-14 21:23:00,f18,jpg
2,https://www.nrlmry.navy.mil/tcdat/tc20/ATL/31L...,2020,ATL,31L.IOTA,vis,ols,2km,2020,11,14.0,21.0,26.0,2020-11-14 21:26:00,f16,jpg
7,https://www.nrlmry.navy.mil/tcdat/tc20/ATL/31L...,2020,ATL,31L.IOTA,vis,ols,2km,2020,11,15.0,12.0,10.0,2020-11-15 12:10:00,f17,jpg
12,https://www.nrlmry.navy.mil/tcdat/tc21/ATL/20L...,2021,ATL,20L.VICTOR,ir,modis,1km,NaN,NaN,NaN,NaN,NaN,NaN,AL902021,jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1764891,https://www.nrlmry.navy.mil/tcdat/tc21/ATL/02L...,2021,ATL,02L.BILL,ir,geo,1km_BD,NaN,NaN,NaN,NaN,NaN,NaN,AL932021,jpg
1766030,https://www.nrlmry.navy.mil/tcdat/tc21/ATL/02L...,2021,ATL,02L.BILL,ir,geo,1km_BD,NaN,NaN,NaN,NaN,NaN,NaN,AL022021,jpg
1768321,https://www.nrlmry.navy.mil/tcdat/tc99/ATL/01....,1999,ATL,01.ARLENE,ir,geo,1km,1999,6,17.0,13.0,42.0,1999-06-17 13:42:00,ssmi,jpg
1770501,https://www.nrlmry.navy.mil/tcdat/tc01/ATL/13L...,2001,ATL,13L.KAREN,vis,geo,1km,2001,10,10.0,19.0,11.0,2001-10-10 19:11:00,trmm,jpg
1787469,https://www.nrlmry.navy.mil/tcdat/tc03/ATL/12L...,2003,ATL,12L.HENRI,ir,geo,1kmcolor,2003,9,2.0,15.0,1.0,2003-09-02 15:01:00,goes-9,jpg

In [9]:
ir = df.loc[df['type'] == 'ir'].loc[df['resolution'] == '1km'].loc[df['sensor'] == 'geo']

In [12]:
ir

,image_url,season,basin,storm_name,type,sensor,resolution,year,month,day,hour,minute,date,satellite,extension
127,https://www.nrlmry.navy.mil/tcdat/tc21/ATL/20L...,2021,ATL,20L.VICTOR,ir,geo,1km,NaN,NaN,NaN,NaN,NaN,NaN,AL902021,jpg
210,https://www.nrlmry.navy.mil/tcdat/tc21/ATL/20L...,2021,ATL,20L.VICTOR,ir,geo,1km,NaN,NaN,NaN,NaN,NaN,NaN,AL902021,jpg
211,https://www.nrlmry.navy.mil/tcdat/tc21/ATL/20L...,2021,ATL,20L.VICTOR,ir,geo,1km,NaN,NaN,NaN,NaN,NaN,NaN,AL902021,jpg
212,https://www.nrlmry.navy.mil/tcdat/tc21/ATL/20L...,2021,ATL,20L.VICTOR,ir,geo,1km,NaN,NaN,NaN,NaN,NaN,NaN,AL902021,jpg
213,https://www.nrlmry.navy.mil/tcdat/tc21/ATL/20L...,2021,ATL,20L.VICTOR,ir,geo,1km,NaN,NaN,NaN,NaN,NaN,NaN,AL902021,jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2515451,https://www.nrlmry.navy.mil/tcdat/tc15/ATL/02L...,2015,ATL,02L.BILL,ir,geo,1km,goes13,jpg,NaN,NaN,NaN,NaN,NaN,NaN
2515452,https://www.nrlmry.navy.mil/tcdat/tc15/ATL/02L...,2015,ATL,02L.BILL,ir,geo,1km,goes13,jpg,NaN,NaN,NaN,NaN,NaN,NaN
2515453,https://www.nrlmry.navy.mil/tcdat/tc15/ATL/02L...,2015,ATL,02L.BILL,ir,geo,1km,goes15,jpg,NaN,NaN,NaN,NaN,NaN,NaN
2515454,https://www.nrlmry.navy.mil/tcdat/tc15/ATL/02L...,2015,ATL,02L.BILL,ir,geo,1km,goes13,jpg,NaN,NaN,NaN,NaN,NaN,NaN
2515455,https://www.nrlmry.navy.mil/tcdat/tc15/ATL/02L...,2015,ATL,02L.BILL,ir,geo,1km,goes13,jpg,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
datetime(int(arr[0][:4]), int(arr[0][4:6]), int(arr[0][6:]), int(arr[1][:2]), int(arr[1][2:]))

NameError: name 'arr' is not defined

In [ ]:
ir["date_time"] = ir['image_url'].split('/')[-1].split('.')

In [26]:
pointDF = pd.read_json('./track_points.json')

In [33]:
pointDF.head(10)

,id,year,month,day,hours,minutes,date_time,record_type,status,latitude,...,50_ne_poly,50_se_poly,50_sw_poly,50_nw_poly,64_ne_poly,64_se_poly,64_sw_poly,64_nw_poly,max_wind_radius,max_wind_poly
0,AL011851UNNAMED,1851,6,25,0,0,1851-06-25 00:00:00,,HU,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL011851UNNAMED,1851,6,25,6,0,1851-06-25 06:00:00,,HU,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AL011851UNNAMED,1851,6,25,12,0,1851-06-25 12:00:00,,HU,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AL011851UNNAMED,1851,6,25,18,0,1851-06-25 18:00:00,,HU,28.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AL011851UNNAMED,1851,6,25,21,0,1851-06-25 21:00:00,L,HU,28.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,AL011851UNNAMED,1851,6,26,0,0,1851-06-26 00:00:00,,HU,28.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,AL011851UNNAMED,1851,6,26,6,0,1851-06-26 06:00:00,,TS,28.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,AL011851UNNAMED,1851,6,26,12,0,1851-06-26 12:00:00,,TS,28.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,AL011851UNNAMED,1851,6,26,18,0,1851-06-26 18:00:00,,TS,28.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,AL011851UNNAMED,1851,6,27,0,0,1851-06-27 00:00:00,,TS,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
point1998DF = pointDF.loc[pointDF['year'] > 1998]

In [35]:
point1998DF.head(10)

,id,year,month,day,hours,minutes,date_time,record_type,status,latitude,...,50_ne_poly,50_se_poly,50_sw_poly,50_nw_poly,64_ne_poly,64_se_poly,64_sw_poly,64_nw_poly,max_wind_radius,max_wind_poly
41310,AL011999ARLENE,1999,6,11,18,0,1999-06-11 18:00:00,,TD,27.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41311,AL011999ARLENE,1999,6,12,0,0,1999-06-12 00:00:00,,TD,27.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41312,AL011999ARLENE,1999,6,12,6,0,1999-06-12 06:00:00,,TD,28.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41313,AL011999ARLENE,1999,6,12,12,0,1999-06-12 12:00:00,,TS,28.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41314,AL011999ARLENE,1999,6,12,18,0,1999-06-12 18:00:00,,TS,28.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41315,AL011999ARLENE,1999,6,13,0,0,1999-06-13 00:00:00,,TS,28.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41316,AL011999ARLENE,1999,6,13,6,0,1999-06-13 06:00:00,,TS,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41317,AL011999ARLENE,1999,6,13,12,0,1999-06-13 12:00:00,,TS,29.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41318,AL011999ARLENE,1999,6,13,18,0,1999-06-13 18:00:00,,TS,29.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41319,AL011999ARLENE,1999,6,14,0,0,1999-06-14 00:00:00,,TS,29.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
point = point1998DF.iloc[0]
point

id                      AL011999ARLENE
year                              1999
month                                6
day                                 11
hours                               18
minutes                              0
date_time          1999-06-11 18:00:00
record_type
status                              TD
latitude                          27.1
longitude                        -58.1
wind                                30
ACE                               0.09
pressure                        1010.0
34_ne                              NaN
34_se                              NaN
34_sw                              NaN
34_nw                              NaN
50_ne                              NaN
50_se                              NaN
50_sw                              NaN
50_nw                              NaN
64_ne                              NaN
64_se                              NaN
64_sw                              NaN
64_nw                              NaN
34_se_poly                         NaN
34_sw_poly                         NaN
34_ne_poly                         NaN
34_nw_poly                         NaN
50_ne_poly                         NaN
50_se_poly                         NaN
50_sw_poly                         NaN
50_nw_poly                         NaN
64_ne_poly                         NaN
64_se_poly                         NaN
64_sw_poly                         NaN
64_nw_poly                         NaN
max_wind_radius                    NaN
max_wind_poly                      NaN
Name: 41310, dtype: object

In [45]:
specificPoint = ir.loc[ir['season'] == int(point['id'][4:8])].loc[ir['storm_name'].split('/')[-1] == point['id'][8:]]
specificPoint.head(10)

AttributeError: 'Series' object has no attribute 'split'

In [14]:
ir.to_csv('./ir_tcdat.csv', index=False)